header{
  position: relative;
  text-align: center;

  select{
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 50px;

    @media (max-width: 768px) {
     position: static;
     }
  }

  .card-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    overflow-x: auto;
    padding-bottom: 15px;

    @media (max-width: 768px) {
     width: 100%;
     justify-content: unset;
    }
  
    .hadith-card{
      background-color: #fbfbfb;
      border: 1px solid #ebebed;
      border-radius: 6px;
      padding: 16px;
      display: flex;
      align-items: center;
      margin: 2px;
      transition: all 0.5s;
      cursor: pointer;
      min-width: 180px;
      min-height: 80px;
      max-height: 80px;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;

      .circle{
        background: #cbc2bd;
        border-radius: 50%;
        width: 25px;
        color: white;
        text-align: center;
        margin-right: 3px;

        @media (max-width: 768px) {
          position: absolute;
          right: -3px;
          top: 0;
         }
      }
  
      &:hover{
        box-shadow: 0 2px 3px 0 #e1e1e4;
        transform: translateY(-2px);
      }
    }
  }
}